<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :Titre %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Message %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit :Commenter %>
  </p>
<% end %>